!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name: 'viewport' }
    = favicon_link_tag('/favicon.ico')
    %title Note
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light.custom-header
      %h1
        %a noote
      %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo02", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo02", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarTogglerDemo02.collapse.navbar-collapse
        .navbar-nav.mr-auto.mt-2.mt-lg-0


        .btn.main-btn.my-2.my-sm-0.px-3.py-2
          %i.fas.fa-pen
          投稿

    = yield
